doctype html
html
  head
    link(rel='stylesheet', href ='style.css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet')
    script(src='https://code.jquery.com/jquery-3.2.1.min.js',integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
  body
    h1 Hello World!!!!!!!!!
    div(class='container')
      p here's a random word:
      span(class='random-word')
    div
      input(type='button', value='get a random word')
    script(src='wordnik.js')
