doctype html
html
  head
    link(rel='stylesheet', href='style.css')
    script(src='https://code.jquery.com/jquery-3.2.1.min.js',integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
  body
    div(class='container')
      h1 Welcome to the Gulp workshop!
      hr
      div(class='content')
        div
          p HTML, CSS, and Vanilla JavaScript are, well, vanilla. We built this website using the new tools that people have introduced to the class:
          ul
            li CoffeeScript instead of JS,
            li Pug to create HTML, and
            li SASS to style
          p Gulp, a task runner, makes it super easy to use these tools of choice. Just run the command
          code $ gulp
          p and all of your fancy schmany languages will compile into something your browser understands. Furthermore, you'll get linting and hot reloading. AND, the automated tasks are uber terse, so you know what's going on under the hood.
        div
          div(class='flashcard')
            div(class='head')
              p here's a random word from
                a(href='https://wordnik.com') Wordnik
            div(class='body')
              span(class='random-word')
          input(type='button', value='get a random word')
    script(src='wordnik.js')
