$flashcard-width: 450px;
$flashcard-height: 275px;
$light-blue: #d6f8ff;
$blue: #00d2fd;
$big-font: 5em;

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: $big-font / 1.5;
}

hr { /* styling from http://stackoverflow.com/questions/6382023/changing-the-color-of-an-hr-element */
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
}

code {
  display: block;
  background-color: #eee;
  font-size: 1.2em;
  padding: 5px;
  border-radius: 2px;
}

.container, .flashcard, input {
  margin: 0 auto;
}

.container {
  width: 90%;
  max-width: 900px;
  min-width: $flashcard-width + 100;

  .content {
    margin-top: 15px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    > div {
      margin: 15px;
    }
  }

  .flashcard {
    width: $flashcard-width;
    height: $flashcard-height;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid #efefef;
    border-radius: 2px;
    box-shadow: 1px 1px 2px 2px #eee;

    a, a:visited {
      color: $blue;
      text-decoration: none;
    }

    .head, .body {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    .head {
      flex-direction: column;
      height: 20%;
      border-bottom: 2px solid #f293b8;
    }

    .body {
      height: 80%;
      align-items: center;
      background: repeating-linear-gradient(white, white 8%, $light-blue 9.2%);

    }

    span.random-word {
      display: block;
      font-size: $big-font;
    }
  }

  input {
    display: block;
    outline: none;
    color: white;
    font-size: 1.5em;
    margin-top: 50px;
    padding: 10px;
    border: 4px solid darken($blue, 10);
    border-width: 0 thick thick 0;
    border-radius: 4px;
    background-color: $blue;
  }
}
